/*
* Customized Login Form Styles
*
*/

body, html,
body.login {
	background: #ffffff;
}

.login h1 a {
    background-size: 186px;
    background-position: center top;
    background-repeat: no-repeat;
    height: 76px;
    font-size: 20px;
    line-height: 1.3em;
    margin: 0 auto;
    padding: 0;
    width: 186px;
    text-indent: -9999px;
    outline: 0;
    display: block;
}

.login label {
	font-size: 15px;
	font-weight: bold;
	color: #555;
	line-height: 2em;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="email"]{
	background-color: #ffffff;
	border: 3px solid #ddd;
	padding: 10px;
}

p#backtoblog {
  display: none;
}

.login form {
    margin-top: 10px;
    margin-left: 0;
    padding: 30px 40px;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
	border: 7px solid #ccc;
}

.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large {
    padding: 5px 20px;
	text-transform: uppercase;
	height: auto;
}

.wp-core-ui .button-primary {	
	font-size: 15px;
	font-size: 0.9375rem;
    line-height: 1.1;
    color: #ffffff;
    background: #434343;
    border: none;
    cursor: pointer;
    -webkit-appearance: button;
	-webkit-transition: all 0.7s ease-out 0s;
    -moz-transition: all 0.7s ease-out 0s;
    transition: all 0.7s ease-out 0s;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    text-shadow: none;
}

.login #nav {
	margin: 2em 0 2em;
}

.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary {
	border-radius: 0;
}

input[type=text], input[type=search], input[type=radio], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=password], input[type=checkbox], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], select, textarea {
	border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: 50ms border-color ease-in-out;
    transition: 50ms border-color ease-in-out;
}

#login {
	width: 420px;
    padding: 8% 0;
    margin: auto;
}

@media screen and (max-width: 450px) {
	#login {
		width: 90%;
	}
}

.login #login_error, .login .message {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
    padding: 12px;
    margin-left: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a {
	-webkit-transition: all 0.7s ease-out 0s;
    -moz-transition: all 0.7s ease-out 0s;
    transition: all 0.7s ease-out 0s;
}

a:active, a:hover, a:focus, a:visited {
	box-shadow: none;
}

input[type=checkbox]:checked:before {
    color: #000;
}

input:focus,
textarea:focus,
option:focus,
select:focus {
 	outline: #555 !important;
	border-color: #555 !important;
	box-shadow: none !important;
}

.login form .forgetmenot {
    font-weight: normal;
    float: left;
    margin-top: .5em;
    margin-bottom: 0;
}

.login .g-recaptcha div {
	margin: 0 auto 1em;
    text-align: center;
}