/*
* Color: Steel Blue
*
*/

/*--------------------------------------------------------------
-----TABLE OF CONTENTS------------------------------------------
----------------------------------------------------------------
1. Header Lines
2. Buttons
3. Tabs
4. Text and Links
5. Lines, Borders and Objects
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1. Header Lines
--------------------------------------------------------------*/
.header-wrapper {
    border-bottom: 9px solid #555;
}

.headhesive {
    border-bottom: 5px solid #555;
}

/*--------------------------------------------------------------
2. Buttons
--------------------------------------------------------------*/
a.button-2:hover,
a.button-2:active,
a.button-2:focus {
	background: #4682B4;
}

a.button-orig:hover,
a.button-orig:active,
a.button-orig:focus {
	background: #4682B4;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #4682B4;
}

.res-button a:hover,
.res-button a.active,
.res-button a:visited,
.res-button-top a:hover,
.res-button-top a.active,
.res-button-top a:visited {
	color: #4682B4;
}

.search-icon2 a:hover, 
.search-icon2 a.active {
	background: #4682B4;
}

.cd-top:hover {
	background-color: #4682B4;
}

.no-touch .cd-top:hover {
	background-color: #4682B4;
}

.bbp-login-form .bbp-login-links a:hover {
	color: #4682B4;
}

#bbpress-forums a:hover {
	color: #4682B4;
}

.bbp-login-form .bbp-login-links a:hover {
	color: #4682B4;
}

.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
	background: #4682B4;
}

.index-cart:hover {
	background: #4682B4;
}

.woocommerce span.onsale {
    background-color: #4682B4;
}

.woocommerce span.onsale:after {
    border-left: 14px solid #4682B4;
}

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
	background-color: #4682B4;
}

.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
	background-color: #4682B4;
}

.ctc-alignleft-side {
    background: #4682B4;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	color: #4682B4;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	color: #4682B4;
}

div#schat-widget .schat-button.schat-primary:hover {
    background-color: #4682B4 !important;
}

div#schat-widget .schat-popup a.schat-button:hover {
	background: #4682B4 !important;
}

.page-numbers a.next,
.page-numbers span.next {
	background: #4682B4;
}

.page-numbers a.next:after,
.page-numbers span.next:after {
	border-left: 10px solid #4682B4;
}

a.next:hover:after {
	border-left: 10px solid #555;
}

.paging-navigation .current {
	color: #4682B4;
}

.feat-home-index-thumb .index-cat {
	background: #4682B4;
}

.search-iconhead a:hover, 
.search-iconhead a.active {
	background: #4682B4;
}

.search-top a:hover, 
.search-top a.active {
	background: #4682B4;
}

/*--------------------------------------------------------------
3. Tabs
--------------------------------------------------------------*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #4682B4;
}

.nav-pills > li > a:hover {
	color: #4682B4;
}

/* jQuery UI Tabs */
.wise-tabs .ui-state-active a,
.wise-tabs .ui-state-active a:link,
.wise-tabs .ui-state-active a:visited {
    color: #4682B4;
}

.wise-tabs .ui-state-active,
.wise-tabs .ui-widget-content .ui-state-active,
.wise-tabs .ui-widget-header .ui-state-active,
.wise-tabs a.ui-button:active,
.wise-tabs .ui-button:active,
.wise-tabs .ui-button.ui-state-active:hover {
    border: 4px solid #4682B4;
    color: #4682B4;
}

.wise-tabs ul li a:hover,
.wise-tabs .tab-sermon ul li a:hover,
.wise-tabs .tab-sermon .ctc-home-tabs > li.active > a:hover {
	color: #4682B4;
}

/*--------------------------------------------------------------
4. Text and Links
--------------------------------------------------------------*/
.login-top a:hover {
	color: #4682B4;
}

.tag-span {
	color:#4682B4;
}

.headhesive-menu li:hover > a,
.headhesive-menu li.focus > a {
	color: #4682B4;
}

.headhesive-menu .sf-arrows > li > .sf-with-ul:focus:after,
.headhesive-menu .sf-arrows > li:hover > .sf-with-ul:after,
.headhesive-menu .sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #4682B4;
}

.headhesive-tag-lines a:hover {
	color: #4682B4;
}

.headhesive-social a:hover,
.headhesive-social a.active {
	color: #4682B4;
}

a:hover,
a:active {
	color: #4682B4;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
	color: #4682B4;
}

.main-navigation .sf-arrows > li > .sf-with-ul:focus:after,
.main-navigation .sf-arrows > li:hover > .sf-with-ul:after,
.main-navigation .sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #4682B4;
}

.secondary-menu li:hover > a,
.secondary-menu li.focus > a {
	color: #4682B4;
}

.secondary-menu .sf-arrows > li > .sf-with-ul:focus:after,
.secondary-menu .sf-arrows > li:hover > .sf-with-ul:after,
.secondary-menu .sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #4682B4;
}

.widget a:hover,
.widget li a:hover {
	color: #4682B4;
}

.read-more:hover {
	color: #4682B4 !important;
}

.entry-title-index a:hover {
	color: #4682B4;
}

.entry-title-index-feat a:hover {
	color: #4682B4;
}

.entry-title-index-grid a:hover {
	color: #4682B4;
}

.top-meta a {
	color: #4682B4;
}

.comments-count,
.comments-count a {
	color: #4682B4;
}

.entry-title a:hover {
	color: #4682B4;
}

.entry-content a {
	color: #4682B4;
}

.post-pagination a,
.post-pagination span {
	color: #ffffff;
	background: #4682B4;
}

blockquote p:before{
	color: #4682B4;
}

.related-post-thumb a:hover {
	color: #4682B4;
}

.custom-posts ul li a h4:hover {
	color: #4682B4;
}

a.default-url:hover {
	color: #4682B4;
}

.top-meta-2 a {
	color: #4682B4;
}

.config-please a:hover {
	color: #4682B4;
}

.complex-titles a > .page-title:hover {
	color: #4682B4;
}

.entry-title-index-compsub a:hover {
	color: #4682B4;
}

.titles-cover h1 a:hover {
	color: #4682B4;
}

.woocommerce .lost_password a:hover {
	color: #4682B4;
}

.custom-posts ul li a h4:hover {
	color: #4682B4;
}

div#schat-widget .schat-links a:hover {
	color: #4682B4 !important;
}

#bbpress-forums div.bbp-reply-content a {
	color: #4682B4;
}

/*--------------------------------------------------------------
5. Lines, Borders and Objects
--------------------------------------------------------------*/
.widget-title:after {
    background: #4682B4;
}

.page-title {
	border-left: 7px solid #4682B4;
}

.page-title-archive:after {
	background: #4682B4;
}

.titles-cover {
    border-bottom: 7px solid #4682B4;
}

.related h2 {
	border-left: 7px solid #4682B4;
}

p.demo_store {
    background-color: #4682B4;
}