/*
* Wise Panel Style
*
*/

.wise_wrap .clear:before,
.wise_wrap .clear:after {
	content: "";
	display: table;
}

.wise_wrap .clear:after {
	clear: both;
}


.wise_wrap .button-2 button,
.wise_wrap .button-2 input[type="button"],
.wise_wrap .button-2 input[type="reset"],
.wise_wrap .button-2 input[type="submit"] {
	padding: 11px 20px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
	font-weight: bold;
    cursor: pointer;
	text-transform: uppercase;
    -webkit-appearance: button;
	-webkit-transition: all 0.7s ease-out 0s;
    -moz-transition: all 0.7s ease-out 0s;
    transition: all 0.7s ease-out 0s;
}

.wise_wrap .button-2 button:hover,
.wise_wrap .button-2 input[type="button"]:hover,
.wise_wrap .button-2 input[type="reset"]:hover,
.wise_wrap .button-2 input[type="submit"]:hover {
	color: #222;
	border: 2px solid #222;
	background: #ffd700;
}

.wise_wrap button:focus,
.wise_wrap input[type="button"]:focus,
.wise_wrap input[type="reset"]:focus,
.wise_wrap input[type="submit"]:focus,
.wise_wrap button:active,
.wise_wrap input[type="button"]:active,
.wise_wrap input[type="reset"]:active,
.wise_wrap input[type="submit"]:active {
    outline: none !important;
}

.wise_wrap select {
	border: 2px solid #ccc !important;
	padding: .3em !important;
	cursor: pointer;
}

.wise_wrap option {
	cursor: pointer !important;
}

.wise_wrap input:focus,
.wise_wrap textarea:focus,
.wise_wrap option:focus,
.wise_wrap select:focus {
 	outline: none !important;
	box-shadow: none !important;
}

.wise_wrap { 
	width: 90%;
	display: inline-block;
	padding: 2em;
	background: #847059;
    border: 12px solid #323232;
}

.wise_wrap h2 {
	color: #ffffff;
	font-family: "Ubuntu", sans-serif !important;
	padding: 2em 1.2em 1.2em !important;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 1em !important;
	line-height: 2.7em !important;
}

.wise_wrap img.logo {
	float: left;
    margin-bottom: 40px;
    display: inline-block;
    padding-right: 20px;
	max-width: 64px;
}

.wise_section { 
	border-bottom: 0;
	background: #f9f9f9;
}

.wise_opts label {
	font-size: 12px;
	font-weight: 700;
	width: 30%;
	display: block;
	float: left;
	padding-left: 20px;
	line-height: 3.5em;
}

.wise_input {
	padding: 1.5em 1em;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
}

.wise_input input[type="button"] {
	margin-left: 10px;
    height: 39px;
}

.wise_input select {
	height: auto !important;
	padding: 10px !important;
}

.wise_opts small {
	display: inline;
	width: auto;
	color: #999;
	padding-left: 20px;
	line-height: 3em;
}

.wise_opts small.th-color {
	vertical-align: 50%;
	line-height: 2em;
}

.wise_opts input[type="text"],
.wise_opts select {
    width: 50%;
    font-size: 12px;
    padding: 10px;
    color: #333;
    line-height: 1em;
    background: #ffffff;
	border: 2px solid #ccc;
}

.wise_opts input[type="number"] {
    width: 50%;
    font-size: 12px;
    padding: 19px;
    color: #333;
    line-height: 1em;
    background: #ffffff;
	border: 2px solid #ccc;
}

.wise_input input:focus,
.wise_input textarea:focus,
.wise_input select:focus {
	background: #fff;
	border: 2px solid #555 !important;
}

.wise_input textarea {
	width: 50%;
	height: 175px;
	font-size: 12px;
	padding: 10px;
	color: #333;
	line-height: 1.5em;
	background: #ffffff;
	border: 2px solid #ccc;
}

.wise_input select {
	padding: 10px;
}

.wise_checkbox {
	padding-bottom: 1em;
    padding-top: 1em;
    line-height: 3em;
}

.wise_down {
	margin-right: .5em;
}

.wise_title h3 {
	font-family: "Open Sans", sans-serif;
	cursor: pointer;
	font-size: 1.2em;
	margin: 0 0 0 6px;
	font-weight: 600;
	color: #ffffff;
	padding: 1em;
	clear: both;
	width: 100%;
}

.wise_title h3:before {
	font-family: 'Fontawesome';
	content: '\f078';
	margin-right: .5em;
}

.wise_title h3.inactive:before {
	font-family: 'Fontawesome';
	content: '\f078';
	margin-right: .5em;
}

.wise_title h3.active:before {
	font-family: 'Fontawesome';
	content: '\f077';
	margin-right: .5em;
}

.wise_title {
	cursor: pointer;
	border-bottom: 1px solid #555;
	background: #847059;
	padding:0;
}

.wise_title span.submit {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	width: 15%;
	padding: 8px 0;
}

.wise_table th,
.wise_table td {
	border: 1px solid #bbb;
	padding: 10px;
	text-align: center;
}

.wise_table th,
.wise_table td.feature {
	border-color: #888;
}

.wise_buttons {
	display: table;
	float: left;
	width: 100%;
	margin-top: 3em;
}

.reset-button {
	float: left;
	margin-right: 1em;
	display: table-row;
}

.save-button {
	float: right;
	margin-left: 1em;
	display: table-row;
}

.wise-footer-functions {
	width: 90%;
    margin: 2em;
    display: table;
}

.wise-footer-functions a {
	text-decoration: none;
}

.wise-footer-functions p {
	line-height: 1em;
}

.wise-help-functions {
	font-size: 14px;
	font-style: italic;
	float: left;
}

.wise-theme-info {
	float: right;
	font-style: italic;
}

#excerpt {
	height: 10em;
}

#toplevel_page_wise-panel .dashicons-admin-generic:before {
	font-family: 'Fontawesome';
	content: '\f085';
}

/* Wise Preloader */
#wiseload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 9999999;
	display: none;
}

#stats {
    background: url('../img/wise-panel.png') no-repeat center;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -32px 0 0 -32px;
    background-size: 100%;
}

/* Wise On/Off Switch */
.wise-switch {
	display: block;
	float: left;
    position: relative;
	width: 53px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.wise-switch-checkbox {
    display: none !important;
}
.wise-switch-label {
    display: block;
	overflow: hidden;
	cursor: pointer;
    height: 25px;
	padding: 0;
	line-height: 25px;
    border: 2px solid #ccc;
	border-radius: 25px;
    background-color: #ffffff;
    transition: background-color 0.3s ease-in;
	float: none !important;
	width: auto !important;
}

.wise-switch-label:before {
    content: "";
    display: block;
	width: 25px;
	margin: 0;
    background: #ffffff;
    position: absolute;
	top: 0;
	bottom: 0;
    right: 24px;
    border: 2px solid #ccc;
	border-radius: 25px;
    transition: all 0.3s ease-in 0s; 
}

.wise-switch-checkbox:checked + .wise-switch-label {
    background-color: #555555;
}

.wise-switch-checkbox:checked + .wise-switch-label, .wise-switch-checkbox:checked + .wise-switch-label:before {
   border-color: #555555;
}

.wise-switch-checkbox:checked + .wise-switch-label:before {
    right: 0; 
}